node_modules/.package-lock.json
node_modules/evaluatex/index.js
node_modules/evaluatex/LICENSE
node_modules/evaluatex/package.json
node_modules/evaluatex/README.md
node_modules/evaluatex/dist/evaluatex.js
node_modules/evaluatex/dist/evaluatex.min.js
node_modules/evaluatex/dist/lexer.js
node_modules/evaluatex/dist/minifier.js
node_modules/evaluatex/dist/Node.js
node_modules/evaluatex/dist/parser.js
node_modules/evaluatex/dist/Token.js
node_modules/evaluatex/dist/util/arities.js
node_modules/evaluatex/dist/util/isNumber.js
node_modules/evaluatex/dist/util/localFunctions.js
node_modules/evaluatex/dist/util/replaceToken.js
node_modules/mathjax/LICENSE
node_modules/mathjax/package.json
node_modules/mathjax/README.md
node_modules/mathjax/es5/core.js
node_modules/mathjax/es5/latest.js
node_modules/mathjax/es5/loader.js
node_modules/mathjax/es5/mml-chtml.js
node_modules/mathjax/es5/mml-svg.js
node_modules/mathjax/es5/node-main.js
node_modules/mathjax/es5/startup.js
node_modules/mathjax/es5/tex-chtml-full-speech.js
node_modules/mathjax/es5/tex-chtml-full.js
node_modules/mathjax/es5/tex-chtml.js
node_modules/mathjax/es5/tex-mml-chtml.js
node_modules/mathjax/es5/tex-mml-svg.js
node_modules/mathjax/es5/tex-svg-full.js
node_modules/mathjax/es5/tex-svg.js
node_modules/mathjax/es5/a11y/assistive-mml.js
node_modules/mathjax/es5/a11y/complexity.js
node_modules/mathjax/es5/a11y/explorer.js
node_modules/mathjax/es5/a11y/semantic-enrich.js
node_modules/mathjax/es5/a11y/sre.js
node_modules/mathjax/es5/adaptors/liteDOM.js
node_modules/mathjax/es5/input/asciimath.js
node_modules/mathjax/es5/input/mml.js
node_modules/mathjax/es5/input/tex-base.js
node_modules/mathjax/es5/input/tex-full.js
node_modules/mathjax/es5/input/tex.js
node_modules/mathjax/es5/input/mml/entities.js
node_modules/mathjax/es5/input/mml/extensions/mml3.js
node_modules/mathjax/es5/input/mml/extensions/mml3.sef.json
node_modules/mathjax/es5/input/tex/extensions/action.js
node_modules/mathjax/es5/input/tex/extensions/all-packages.js
node_modules/mathjax/es5/input/tex/extensions/ams.js
node_modules/mathjax/es5/input/tex/extensions/amscd.js
node_modules/mathjax/es5/input/tex/extensions/autoload.js
node_modules/mathjax/es5/input/tex/extensions/bbox.js
node_modules/mathjax/es5/input/tex/extensions/boldsymbol.js
node_modules/mathjax/es5/input/tex/extensions/braket.js
node_modules/mathjax/es5/input/tex/extensions/bussproofs.js
node_modules/mathjax/es5/input/tex/extensions/cancel.js
node_modules/mathjax/es5/input/tex/extensions/cases.js
node_modules/mathjax/es5/input/tex/extensions/centernot.js
node_modules/mathjax/es5/input/tex/extensions/color.js
node_modules/mathjax/es5/input/tex/extensions/colortbl.js
node_modules/mathjax/es5/input/tex/extensions/colorv2.js
node_modules/mathjax/es5/input/tex/extensions/configmacros.js
node_modules/mathjax/es5/input/tex/extensions/empheq.js
node_modules/mathjax/es5/input/tex/extensions/enclose.js
node_modules/mathjax/es5/input/tex/extensions/extpfeil.js
node_modules/mathjax/es5/input/tex/extensions/gensymb.js
node_modules/mathjax/es5/input/tex/extensions/html.js
node_modules/mathjax/es5/input/tex/extensions/mathtools.js
node_modules/mathjax/es5/input/tex/extensions/mhchem.js
node_modules/mathjax/es5/input/tex/extensions/newcommand.js
node_modules/mathjax/es5/input/tex/extensions/noerrors.js
node_modules/mathjax/es5/input/tex/extensions/noundefined.js
node_modules/mathjax/es5/input/tex/extensions/physics.js
node_modules/mathjax/es5/input/tex/extensions/require.js
node_modules/mathjax/es5/input/tex/extensions/setoptions.js
node_modules/mathjax/es5/input/tex/extensions/tagformat.js
node_modules/mathjax/es5/input/tex/extensions/textcomp.js
node_modules/mathjax/es5/input/tex/extensions/textmacros.js
node_modules/mathjax/es5/input/tex/extensions/unicode.js
node_modules/mathjax/es5/input/tex/extensions/upgreek.js
node_modules/mathjax/es5/input/tex/extensions/verb.js
node_modules/mathjax/es5/output/chtml.js
node_modules/mathjax/es5/output/svg.js
node_modules/mathjax/es5/output/chtml/fonts/tex.js
node_modules/mathjax/es5/output/chtml/fonts/woff-v2/MathJax_AMS-Regular.woff
node_modules/mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Calligraphic-Bold.woff
node_modules/mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Calligraphic-Regular.woff
node_modules/mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Fraktur-Bold.woff
node_modules/mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Fraktur-Regular.woff
node_modules/mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Main-Bold.woff
node_modules/mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Main-Italic.woff
node_modules/mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Main-Regular.woff
node_modules/mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Math-BoldItalic.woff
node_modules/mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Math-Italic.woff
node_modules/mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Math-Regular.woff
node_modules/mathjax/es5/output/chtml/fonts/woff-v2/MathJax_SansSerif-Bold.woff
node_modules/mathjax/es5/output/chtml/fonts/woff-v2/MathJax_SansSerif-Italic.woff
node_modules/mathjax/es5/output/chtml/fonts/woff-v2/MathJax_SansSerif-Regular.woff
node_modules/mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Script-Regular.woff
node_modules/mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Size1-Regular.woff
node_modules/mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Size2-Regular.woff
node_modules/mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Size3-Regular.woff
node_modules/mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Size4-Regular.woff
node_modules/mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Typewriter-Regular.woff
node_modules/mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Vector-Bold.woff
node_modules/mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Vector-Regular.woff
node_modules/mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Zero.woff
node_modules/mathjax/es5/output/svg/fonts/tex.js
node_modules/mathjax/es5/sre/mathmaps/base.json
node_modules/mathjax/es5/sre/mathmaps/ca.json
node_modules/mathjax/es5/sre/mathmaps/da.json
node_modules/mathjax/es5/sre/mathmaps/de.json
node_modules/mathjax/es5/sre/mathmaps/en.json
node_modules/mathjax/es5/sre/mathmaps/es.json
node_modules/mathjax/es5/sre/mathmaps/fr.json
node_modules/mathjax/es5/sre/mathmaps/hi.json
node_modules/mathjax/es5/sre/mathmaps/it.json
node_modules/mathjax/es5/sre/mathmaps/nb.json
node_modules/mathjax/es5/sre/mathmaps/nemeth.json
node_modules/mathjax/es5/sre/mathmaps/nn.json
node_modules/mathjax/es5/sre/mathmaps/sv.json
node_modules/mathjax/es5/ui/lazy.js
node_modules/mathjax/es5/ui/menu.js
node_modules/mathjax/es5/ui/safe.js
__pycache__/Dash.cpython-310.pyc
__pycache__/PhysicsSim.cpython-310.pyc
.vscode/launch.json
