body {
	background-color: #86BBBD;
	font-family: Symbola;
	src: url(font/Symbola.eot);
	src: local("Symbola Regular"), local("Symbola"), url(font/Symbola.woff2) format("woff2"), url(font/Symbola.woff) format("woff"), url(font/Symbola.ttf) format("truetype"), url(font/Symbola.otf) format("opentype"), url(font/Symbola.svg#Symbola) format("svg");
	text-align: center;
	font-size: .58vw;
}

button {
	border: 1px solid #777;
	border-radius: 2px;
	font-family: inherit;
	padding: 1% 1% 1% 1%;
	width: 5%;
}

.dropbtn2,
.dropbtn {
	width: 100%;
}

.title {
	background-color: #fff;
	width: 87%;
	margin: 1% 1% 1% 1%;
	padding: 30px 20px;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
	display: inline-block;
	vertical-align: middle;
}

.items {
	/* border-style: solid;
	border-color: red; */
	width: 45%;
	/* margin-left: auto; */
	float: right;
}

.tile {
	/* border-style: solid; */
	background-color: #fff;
	margin: 1% 1% 1% 1%;
	padding: 2% 3% 2% 3%;
	min-height: 10vh;
	width: 23%;
	vertical-align: middle;
	display: inline-block;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
	
}



.inputDiv {
	width: 86%;
	margin: 1% 1% 1% 1%;
	padding: 2% 3% 2% 3%;
	display: inline-block;
	vertical-align: middle;
	background-color: #fff;
	/* border-style: solid;
	border-color: blue; */
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}


.graph {
	/* border-style: solid;
	border-color: greenyellow; */

	background-color: #fff;
	position: absolute;
	overflow: hidden;
	width: 50%;
	padding-top: 35%;
	margin-top: 0.5%;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
	/* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
	position: absolute;
	text-align: center;
	margin: 0 0 0 1.5%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.answer {
	font-size: .6vw;
}






/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
	display: block;
}


/* The container <div> - needed to position the dropdown content */
.dropdown2 {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content2 a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content2 a:hover {
	background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show2 {
	display: block;
}