body {
	background-color: #86BBBD;
	font-family: Verdana;
	text-align: center;
	font-size: .6vw;
}



.items {
	border-style: solid;
	border-color: red;
	width: 45%;
	/* margin-left: auto; */
	float: right;
}

.tile {
	border-style: solid;
	background-color: #fff;
	margin: 10px 10px 10px auto;
	padding: 2% 3% 2% 3%;
	min-height: 10%;
	width: 23%;
	display: inline-block;
	vertical-align: top;
}

.inputDiv {
	width: 45%;
	clear: both;
	float: right;
	position: relative;
	background-color: #fff;
	border-style: solid;
	border-color: blue;
}

.graph {
	border-style: solid;
	border-color: greenyellow;


	position: relative;
	overflow: hidden;
	width: 50%;
	padding-top: 35%;
	/* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
	position: absolute;

	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.answer {
	font-size: .6vw;
}

#keyboard {
	display: none;
  }
  
  .ui-keyboard-frac span {
	background-image: url(https://cloud.githubusercontent.com/assets/2561440/12258775/26781542-b937-11e5-88b9-4a0b926dc8c0.png);
	background-position: -10px -5px;
	text-indent: -99em;
	width: 1.2em;
  }
  
  .ui-keyboard-sqrt span {
	background-image: url(https://cloud.githubusercontent.com/assets/2561440/12258775/26781542-b937-11e5-88b9-4a0b926dc8c0.png);
	background-position: -203px -5px;
	text-indent: -99em;
	width: 1.2em;
  }
  
  
  /* position keyboard at bottom of the screen - jQuery UI isn't even loaded! */
  
  .ui-keyboard {
	border-radius: 0;
	left: 0;
	top: auto;
	bottom: 0;
	position: fixed;
	width: 100%;
  }
  
  .ui-keyboard div {
	font-size: 1.2em;
  }
  
  body {
	margin-top: 100px;
  }
  
  #wrap {
	display: block;
	margin: 0 auto;
	text-align: center;
  }
  